[build]
target = "./index.html"

[watch]
ignore = ["./src-tauri"]

[serve]
port = 1420
open = false

[[hooks]]
stage = "pre_build"
command = "npx.cmd"
command_arguments = ["tailwindcss", "-i", "input.css", "-o", "styles.css"]
